* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 50px; 
  background-color: mintcream;
}
.child {
  border-radius: 5px;


}
#calculator {
  background-color: black;
  border: .5rem solid darkslategrey;
  margin:auto;
  display: grid;
  grid-template-areas: 
  "result result result result"
  "ac plus-minus percent division"
  "seven eight nine multiply"
  "four five six subtract"
  "one two three add"
  "zero zero point equal";
  gap: 5px;
  width: 600px;
  height: 700px;
  margin-top: 200px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

div {
  padding:15px
}

.gray-bg {
  background-color: gray;
}

.blue-bg {
  background-color: aqua;
}

.orange-bg {
  background-color: orange;
}

.teal-bg {
  background-color: teal;
}

#result {
  grid-area: result;
  text-align: right;
  font-size: 50px;
  padding: 25px;
 
}

#ac {
  grid-area: ac;
  text-align: center;
  cursor: pointer;

}
#plus-minus {
  grid-area: plus-minus;
  text-align: center;
  cursor: pointer;

}
#percent {
  grid-area: percent;
  text-align: center;
  cursor: pointer;

}
#division {
  grid-area: division;
  text-align: center;
  cursor: pointer;

}
#seven {
  grid-area: seven;
  text-align: center;
  cursor: pointer;

}
#eight {
  grid-area: eight;
  text-align: center;
  cursor: pointer;

}
#nine {
  grid-area: nine;
  text-align: center;
  cursor: pointer;

}
#multiply {
  grid-area: multiply;
  text-align: center;
  cursor: pointer;

}
#four {
	grid-area: four;
	text-align: center;
  cursor: pointer;

}
#five {
	grid-area: five;
	text-align: center;
  cursor: pointer;
}
#six {
	grid-area: six;
	text-align: center;
  cursor: pointer;

}
#subtract {
	grid-area: subtract;
	text-align: center;
  cursor: pointer;

}
#one {
	grid-area: one;
	text-align: center;
  cursor: pointer;

}
#two {
	grid-area: two;
	text-align: center;
  cursor: pointer;

}
#three {
	grid-area: three;
	text-align: center;
  cursor: pointer;

}
#add {
	grid-area: add;
	text-align: center;
  cursor: pointer;

}
#zero {
	grid-area: zero;
	text-align: center;
  cursor: pointer;

}
#point { 
	grid-area: point;
	text-align: center;
  cursor: pointer;

}
#equal {
	grid-area: equal;
	text-align: center;
  cursor: pointer;

}

