* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	

	background: rgb(27, 27, 27);
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	background: white;
	width: 220px;
	margin: 10px;
	border-radius: 15px 15px 0 0;
}

.card-image {
	background-color: blue;
	height: 150px;
	margin-bottom: 15px;
	background-size: cover;
}


.card-1 {
	background-image: url('Dmitri-Shostakovich.jpg');

}

.card-2 {
	background-image: url('https://www.thefamouspeople.com/profiles/images/sergei-rachmaninoff-7.jpg');

}

.card-3 {
	background-image: url('Aram-Khachaturian.jpg')
}.

.card h2{
	padding: 10px;
}

.card p {
	padding: 10px;
}

.card a {
	background-color: black;
	color: white;
	padding: 15px 20px; 
	display: block;
	text-align: center;
	margin: 20px 50px;
	text-decoration: none;
}

.card:hover {
	background-color: rgb(62,62,62);
	color: white;
	cursor: pointer;
	transform: scale(1.03);
	transition: all 1s ease;
}